%h1= movie.title
%p= movie.summary
= link_to t('.edit'), [:edit, movie]

= render movie.actors
= render movie.director
= render movie.pictures

= link_to t('.delete'), { action: :destroy, id: movie.id }, method: :delete, data: { confirm: t('.sure') }
%hr
