.col.s12.m6
  .card
    .card-image
      = image_tag movie.pictures.first.file.url
      %span.card-title= movie.title
      = link_to [:edit, movie], class: 'btn-floating halfway-fab waves-effect waves-light red' do
        %i.material-icons mode_edit

    .card-content
      %p= movie.summary
      .divider
      .row.pictures
        = render movie.pictures
      .divider
      = render movie.actors


    .card-action
      = link_to t('.delete'), { action: :destroy, id: movie.id }, method: :delete, data: { confirm: t('.sure') }
      = render movie.director
