!!!
%html{ lang: I18n.default_locale }
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge")
    %meta(name='viewport' content='width=device-width, initial-scale=1')

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    %link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    = csrf_meta_tags

    %title
      = yield :site_title
      | Popcorn

  %body
    %nav.top-nav
      .container
        .nav-wrapper
          .brand-logo
            = link_to root_path do
              %i.material-icons videocam
            = yield :site_title

        %ul#nav-mobile.right
          - if content_for?(:top_menu)
            = yield :top_menu
          - else
            %li= link_to t('.new'), new_movie_path()

    .container
      - if notice && !notice.blank?
        .card-panel.teal.darken-1= notice

      - if alert && !alert.blank?
        .card-panel.red.lighten-1= alert

      = yield
